
.blog-page-wrapper {
  display: grid;
  grid-template-columns: 63% 37%;
  grid-template-rows: 240px 260px auto auto auto;
  width: 100%;
  margin: 0 auto;
}

.blog-header {
  background-image: url(../images/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  height: 500px;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/3;
}



////////small grid for the header is declared in indexHeader.scss
//////// line 11 - .header-wrapper -it is re-used in the Blog
////// and contact pages

.blog-nav ul li:first-child a {
  color: $iceBlue;

  &:hover {
    color: $greenishCyan;
  }
  &:focus {
    color: $greenishCyan;
  }
}

.blog-nav ul li:nth-child(3) a {
  color: $greenishCyan;
}

.blog-nav ul li {
  padding-right: 1.5rem;
}



////////////////////////////////////////
/////////// main / article

.blog-main {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column: 1/2;
}

.blog-article-wrapper {
  width: 100%;
}

.blog-article-wrapper > h2 {
  font-size: 4rem;
  color: $iceBlue;
  letter-spacing: 9px;
  margin: 0 0 1rem 6.5rem;
}

.blog-img-container {
  width: 98%;
}

.blog-img-container img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 21px 21px 0px -5px $greenishCyan;

  @media (max-width: 1200px) {
    box-shadow: 21px 21px 0px -7px $greenishCyan;
  }

   @media (max-width: 1050px) {
    box-shadow: 21px 21px 0px -8px $greenishCyan;
  }

  @media (max-width: 940px) {
    box-shadow: 21px 21px 0px -3px $greenishCyan;
  
  }
}





.blog-main article {
  padding: 2rem 1.5rem 1rem 6rem;
  border-right: 4px solid $greenishCyan;
  border-bottom: 4px solid $greenishCyan;
}

.blog-article-wrapper p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.3px;
}

.subtitle {
  font-size: 0.7rem;
  font-style:italic;
  color: $twilightBlue;
  margin-top: 0.5rem;
}

.blog-article-wrapper h3 {
  color: $spruce;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.1rem;
}


///////////////////////////////////////////////////////////
///////aside

.blog-aside {
  width: 60%;
  grid-column: 2/3;
  justify-self: end;
  margin-top: 6rem;
}

.blog-aside-img-container {
  width: 100%;
}

.blog-aside img {
  max-width: 100%;
  max-height: 100%;
}

.blog-aside h4 {
  letter-spacing:1.5px;
  color: $twilightBlue;
  margin-bottom: 1rem;
}

.blog-aside a {
  text-decoration: none;
  color: $spruce;
  font-weight: 700;
  letter-spacing:1.7px;
}

.blog-aside p {
  letter-spacing:1.2px;
  font-size: 0.9rem;
  line-height: 1.6;
}

.blog-aside > p {
  margin-bottom: 0.3rem;
  color: $black;
}

.blog-aside li {
  color: $greenishCyan;
  
}

.blog-aside ul p {
  color: $black;
  margin: 0.2rem 0;
}

.blog-aside ul {
  padding-left: 1.5rem;
}


//////////////////////////////////////////////////////////////////////////////////////////////// comments 


.comments {
   grid-row-start: 5;
 }

.comments-section-container {
   padding: 2rem 1rem 3rem 6rem;
 }

.comments-section-container h4 {
  font-family:'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0.5rem 0 2rem 0;
  letter-spacing: 2.5px;
}
 .comment-container {
    display: flex;
    justify-content: space-between;
}

.comment-text-container {
  width: 75%;
  justify-self: end;
  margin-right: 1.5rem;
}

.comment-text-container p {
  line-height: 1.4;
  font-size: 0.9rem;
  letter-spacing:0.7px;
}

.comment-container h6 {
  margin: 0;
  font-size: 0.95rem;
  color: $twilightBlue;
}



///////////////////////////////////////////////////
/////////////form 

.form {
  @include formStyles;
}

input[name=name] {
  grid-row: 1/2;
  grid-column: 1/2;
  @include inputStyle;
}

input[type=email] {
  grid-row: 1/2;
  grid-column: 2/3;
  @include inputStyle;
  justify-self: end;
  margin-right: 0.2rem;
}

.form textarea {
  grid-row: 2/3;
  grid-column: 1/3;
  resize: none;
  width: calc(99% - 1.45rem);
  border: 1px solid $greenishCyan;
  height: 8rem;
  padding: 2rem 0 0 1.5rem;
}

.form button {
  @include indexLinks;
  grid-row: 3/4;
  grid-column: 1/3;
  border: none;
  width: 100%;
  margin: 2rem 0 5rem 0;
}
////////////////////////////////////////////////////////////////
///////////footer

.blog-footer p {
  padding-top: 3px;
  align-self: center;
}

.blog-footer {
  @include footerStyles;
  grid-row: 6/7;
  grid-column: 1/-1;
}