





/////////variables



$greenishCyan: #50E3C2;
$black: #2C2C2C;
$spruce: #0C5F4C;
$iceBlue: #FAFFFE;
$twilightBlue: #063974;
$lightLightBlue: #D2F9F1;

$lato: 'Lato', sans-serif;
$playFair: 'Playfair Display SC', serif;


////////// general page config

html {
  font-size: 125%;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  height: auto;
}

section {
  width: 100%;
}