.aside-wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  z-index: -5;
}

.aside-img-container {
  width: 100%;
  grid-row: 1/2;
  height: 100%;
}

.aside-img-container img {
  max-width: 100%;
  max-height: 100%;
}



.aside-text-container {
  width: 75%;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 6rem auto 3rem auto;
}

.aside-text-container p {
  line-height: 2;
  letter-spacing: 1.2px;
}

.aside-text-container a {
  @include indexLinks;
  margin-bottom: 4rem;
}

.aside-text-container h5 {
  font-size: 1.2rem;
  color: $twilightBlue;
  margin:0;
  letter-spacing: 3px;
}

.index-footer {
  @include footerStyles;
}

.index-footer p {
  padding-top: 3px;
  align-self: center;
}