// read more buttons 

@mixin indexLinks {
  background-color: $twilightBlue;
  color: $iceBlue;
  font-family: $playFair;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;

}

@mixin inputStyle {
  border: none;
  border-bottom: 1px solid $greenishCyan;
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0 0 1rem 1rem;
  letter-spacing: 1.3px;
  width: 88%;
}

@mixin footerStyles {
  height: 1.6rem;
  width: 100%;
  background-color: $black;
  text-align: center;
  color: $iceBlue;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}

@mixin formStyles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin-left: 6rem;
  background-color: white;
}