.header-wrapper {
  display: none;
}

header {
  background-image: url(../images/ass2bg.png);
}

.header-wrapper {
  z-index: 3;
}
.new-header-wrapper {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 10% 10% 10% 20%;
  z-index: 5;
  position: relative;
}

.wave1 {
  grid-row: 2/4;
  grid-column: 1/4;
  background-image: url(../images/wave.svg);
  z-index: 4;
  height: 16rem;
  margin-bottom: 4rem;
}

.wave2 {
  grid-row: 2/4;
  grid-column: 1/4;
  background-image: url(../images/wave2.svg);
  z-index: 5;
  height: 16rem;
  margin-bottom: 4rem;
}

.wave3 {
  grid-row: 2/4;
  grid-column: 1/4;
  background-image: url(../images/wave3.svg);
  z-index: 6;
  margin-bottom: 4rem;
  height: 16rem;
}

.wave4 {
  grid-row: 2/4;
  grid-column: 1/4;
  background-image: url(../images/wave4.svg);
  z-index: 3;
  height: 16rem;
  margin-bottom: 4rem;
}

.wave-transition {
  transform: translateY(-5.5rem);
  transition: transform 4s ease-out;
}

.white-space {
  grid-row: 4/6;
  grid-column: 1/-1;
  z-index: 8;
  background-color: #fff;
}

safi {
  grid-row-start: 2;
  grid-column: 1/2;
  width: 40%;
  height: 6rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}


.new-header-wrapper > .mobile-nav {
  display: flex;
  z-index: 5;
  grid-column: 3/4;
}

.shark {
  transform: scale(0.5);
  z-index: 5;
  position: absolute;
}

.mobile-nav > .hamburger-menu,
.mobile-nav > .hamburger-menu::before,
.mobile-nav > .hamburger-menu::after  {
  background-color: black;
}

.sun-img-container {
  display: grid;
  grid-row: 1/2;
  grid-column: 3/4;
}

.sun {
  grid-row: 1/-1;
  grid-column: 1/-1;
  max-width: 100%;
  max-height: 100%;
  transform: scale(0.8);
}

.sun-one {
  animation: 5s linear infinite rotateForward;
}


@keyframes rotateForward {
  0% {transform: rotate(0deg) scale(0.8);}
  50% {transform: rotate(90deg) scale(0.85);}
  100% {tranform: rotate(360deg) scale(0.9);}
}


.new-header-text-container {
  grid-row: 1/2;
  grid-column: 1/4;
  justify-self: center;
  margin-top: 7rem;
  margin-right: 4rem;
  position: relative;
}

.new-header-text-container > h1 {
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(90deg, rgba(23,222,177,1) 15%, rgba(42,42,42,1) 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
}

.new-header-text-container > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  position: absolute;
  top: -76px;
  right: 62px;
  -webkit-text-stroke: 3px rgb(226, 21, 182);
  visibility: hidden;
}

.quote-container {
  grid-row: 1/2;  
  grid-column: 1/2;
  place-self: flex-end flex-end;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3rem;
  margin-top: 2rem;
}

.quote-text {
  font-family: 'Permanent Marker', cursive;
  width: 95%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: #fff;
  margin-left: -3rem;
  padding: 1.5rem;
}

.bubble {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #fff;
}

.bubble-one {
  margin-left: 2rem;
}

.bubble-two {
  margin-left: 1.4rem;
}

.bubble-three {
  margin-left: 1rem;
}

.notVisible {
  display: none;
}

.clickBox {
  grid-row: 2/4;
  grid-column: 1/2;
  width: 70%;
  height: 100%;
  z-index: 10;
}