@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display+SC:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 125%;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  height: auto;
}

section {
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: url(../images/home-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-bottom: 10%;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 1fr;
  height: auto;
  width: 100%;
}

.top-left-logo {
  font-family: "Playfair Display SC", serif;
  color: #50E3C2;
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: 22%;
  margin-top: 2%;
  cursor: pointer;
  text-decoration: none;
}

.top-left-logo h2 {
  font-size: 1.73rem;
  padding: 0;
  margin: 0;
}

.header-img-container {
  width: 87%;
  grid-row: 2/3;
  grid-column: 1/2;
  place-self: end start;
  margin-top: 16%;
}

.header-img-container img {
  width: 100%;
}

.welcome-text {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: 1rem;
  color: #0C5F4C;
  margin: 0 0.5rem;
  letter-spacing: 6.7px;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 4.5rem;
  color: #063974;
  margin: 0;
  line-height: 3.5rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 3.1rem;
  }
}

.header-text-container {
  grid-row: 2/3;
  grid-column: 1/-1;
  place-self: center;
  margin-left: 19%;
  margin-bottom: 3%;
}

.main-nav {
  justify-self: center;
  margin-right: 3%;
  margin-left: 2rem;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav ul li {
  list-style: none;
  font-weight: bold;
  padding: 0.4rem 1.5rem 0.4rem 0.8rem;
}

.main-nav ul li a {
  color: #FAFFFE;
  text-decoration: none;
  cursor: pointer;
}
.main-nav ul li a:hover {
  color: #50E3C2;
}
.main-nav ul li a:focus {
  color: #50E3C2;
}

.main-nav ul li:first-child > a {
  color: #50E3C2;
}

.visit-wrapper {
  width: 90%;
  display: grid;
  margin: 0 auto;
  padding: 3rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-template-columns: auto auto;
}

.visit-wrapper article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.visit-wrapper article p {
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
  font-size: 0.9rem;
  width: 85%;
}

.visit-wrapper article a {
  background-color: #063974;
  border: 1px solid #063974;
  color: #FAFFFE;
  font-family: "Playfair Display SC", serif;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: color 0.2s, background-color 0.6s, border 1s;
  transition: color 0.2s, background-color 0.6s, border 1s;
  margin-top: 1rem;
}
.visit-wrapper article a:hover {
  color: #063974;
  background-color: #FAFFFE;
  border: 1px solid #063974;
}
.visit-wrapper article a:focus {
  color: #063974;
  background-color: #FAFFFE;
  border: 1px solid #063974;
}

.visit-wrapper article h3 {
  color: #0C5F4C;
  margin: 0;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.visit-img-container {
  width: 100%;
  height: 250px;
  justify-self: flex end;
  grid-row: 1/-1;
  grid-column: 2/3;
}

.visit-img-container > img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  justify-self: flex-end;
  -webkit-box-shadow: -16px 16px 0px -1px #50E3C2;
          box-shadow: -16px 16px 0px -1px #50E3C2;
}

.gallery-wrapper {
  width: 100%;
  background-color: #D2F9F1;
  margin-top: 3rem;
}

.gallery-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-wrapper li {
  list-style: none;
  height: auto;
  width: 25%;
  padding: 3rem 0.7rem;
}

.gallery-wrapper img {
  max-width: 100%;
  height: 100%;
}

.middle-nav-wrapper {
  width: 100%;
  margin-bottom: 3rem;
}

.middle-nav-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.middle-nav-wrapper li {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  width: auto;
  padding: 2rem;
}

.middle-nav-wrapper a {
  letter-spacing: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #0C5F4C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-left: -3.6rem;
}
.middle-nav-wrapper a:hover {
  background-color: #50E3C2;
  border-radius: 0.7rem;
}
.middle-nav-wrapper a:focus {
  background-color: #50E3C2;
  border-radius: 0.7rem;
}

.middle-nav-wrapper i {
  color: #FAFFFE;
  font-size: 1.1rem;
  border-radius: 50%;
}

.middle-nav-wrapper .i-circle {
  height: 2.1rem;
  min-width: 2.1rem;
  border-radius: 50%;
  background-color: #50E3C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.4rem;
}

.middle-nav-wrapper p {
  line-height: 2;
  width: 90%;
}

.article-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #D2F9F1;
}

.left-article-container {
  grid-row: 1/2;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15%;
}

.right-article-container {
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-left: 15%;
}

.article-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

.left-article-container .article-text-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}

.article-text-container a {
  background-color: #063974;
  border: 1px solid #063974;
  color: #FAFFFE;
  font-family: "Playfair Display SC", serif;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: color 0.2s, background-color 0.6s, border 1s;
  transition: color 0.2s, background-color 0.6s, border 1s;
  margin: 1rem 0 2rem 0;
}
.article-text-container a:hover {
  color: #063974;
  background-color: #FAFFFE;
  border: 1px solid #063974;
}
.article-text-container a:focus {
  color: #063974;
  background-color: #FAFFFE;
  border: 1px solid #063974;
}

.article-text-container p {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.article-text-container h5 {
  font-size: 1.2rem;
  color: #063974;
  margin: 3rem 0 0.4rem 0;
  letter-spacing: 3px;
}

.plan-ahead {
  padding-bottom: 2rem;
}

.new-locations h5 {
  margin-top: 4rem;
}

.cove-img {
  margin-bottom: -6%;
  justify-self: end;
  -webkit-box-shadow: -22px 22px 0px -4px #50E3C2;
          box-shadow: -22px 22px 0px -4px #50E3C2;
}

.house-img {
  margin-top: -6%;
  -webkit-box-shadow: 25px 22px 0px -8px #50E3C2;
          box-shadow: 25px 22px 0px -8px #50E3C2;
}

.article-img-container {
  width: 100%;
  z-index: 2;
}

.article-wrapper img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside-wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.aside-img-container {
  width: 100%;
  grid-row: 1/2;
  height: 100%;
}

.aside-img-container img {
  max-width: 100%;
  max-height: 100%;
}

.aside-text-container {
  width: 75%;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 6rem auto 3rem auto;
}

.aside-text-container p {
  line-height: 2;
  letter-spacing: 1.2px;
}

.aside-text-container a {
  background-color: #063974;
  border: 1px solid #063974;
  color: #FAFFFE;
  font-family: "Playfair Display SC", serif;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: color 0.2s, background-color 0.6s, border 1s;
  transition: color 0.2s, background-color 0.6s, border 1s;
  margin-bottom: 4rem;
}
.aside-text-container a:hover {
  color: #063974;
  background-color: #FAFFFE;
  border: 1px solid #063974;
}
.aside-text-container a:focus {
  color: #063974;
  background-color: #FAFFFE;
  border: 1px solid #063974;
}

.aside-text-container h5 {
  font-size: 1.2rem;
  color: #063974;
  margin: 0;
  letter-spacing: 3px;
}

.index-footer {
  height: 1.6rem;
  width: 100%;
  background-color: #2C2C2C;
  text-align: center;
  color: #FAFFFE;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index-footer p {
  padding-top: 3px;
  -ms-flex-item-align: center;
      align-self: center;
}

.blog-page-wrapper {
  display: grid;
  grid-template-columns: 63% 37%;
  grid-template-rows: 240px 260px auto auto auto;
  width: 100%;
  margin: 0 auto;
}

.blog-header {
  background-image: url(../images/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/3;
}

.blog-nav ul li:first-child a {
  color: #FAFFFE;
}
.blog-nav ul li:first-child a:hover {
  color: #50E3C2;
}
.blog-nav ul li:first-child a:focus {
  color: #50E3C2;
}

.blog-nav ul li:nth-child(3) a {
  color: #50E3C2;
}

.blog-nav ul li {
  padding-right: 1.5rem;
}

.blog-main {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column: 1/2;
}

.blog-article-wrapper {
  width: 100%;
}

.blog-article-wrapper > h2 {
  font-size: 4rem;
  color: #FAFFFE;
  letter-spacing: 9px;
  margin: 0 0 1rem 6.5rem;
}

.blog-img-container {
  width: 98%;
}

.blog-img-container img {
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 21px 21px 0px -5px #50E3C2;
          box-shadow: 21px 21px 0px -5px #50E3C2;
}
@media (max-width: 1200px) {
  .blog-img-container img {
    -webkit-box-shadow: 21px 21px 0px -7px #50E3C2;
            box-shadow: 21px 21px 0px -7px #50E3C2;
  }
}
@media (max-width: 1050px) {
  .blog-img-container img {
    -webkit-box-shadow: 21px 21px 0px -8px #50E3C2;
            box-shadow: 21px 21px 0px -8px #50E3C2;
  }
}
@media (max-width: 940px) {
  .blog-img-container img {
    -webkit-box-shadow: 21px 21px 0px -3px #50E3C2;
            box-shadow: 21px 21px 0px -3px #50E3C2;
  }
}

.blog-main article {
  padding: 2rem 1.5rem 1rem 6rem;
  border-right: 4px solid #50E3C2;
  border-bottom: 4px solid #50E3C2;
}

.blog-article-wrapper p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.3px;
}

.subtitle {
  font-size: 0.7rem;
  font-style: italic;
  color: #063974;
  margin-top: 0.5rem;
}

.blog-article-wrapper h3 {
  color: #0C5F4C;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.1rem;
}

.blog-aside {
  width: 60%;
  grid-column: 2/3;
  justify-self: end;
  margin-top: 6rem;
}

.blog-aside-img-container {
  width: 100%;
}

.blog-aside img {
  max-width: 100%;
  max-height: 100%;
}

.blog-aside h4 {
  letter-spacing: 1.5px;
  color: #063974;
  margin-bottom: 1rem;
}

.blog-aside a {
  text-decoration: none;
  color: #0C5F4C;
  font-weight: 700;
  letter-spacing: 1.7px;
}

.blog-aside p {
  letter-spacing: 1.2px;
  font-size: 0.9rem;
  line-height: 1.6;
}

.blog-aside > p {
  margin-bottom: 0.3rem;
  color: #2C2C2C;
}

.blog-aside li {
  color: #50E3C2;
}

.blog-aside ul p {
  color: #2C2C2C;
  margin: 0.2rem 0;
}

.blog-aside ul {
  padding-left: 1.5rem;
}

.comments {
  grid-row-start: 5;
}

.comments-section-container {
  padding: 2rem 1rem 3rem 6rem;
}

.comments-section-container h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0.5rem 0 2rem 0;
  letter-spacing: 2.5px;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-text-container {
  width: 75%;
  justify-self: end;
  margin-right: 1.5rem;
}

.comment-text-container p {
  line-height: 1.4;
  font-size: 0.9rem;
  letter-spacing: 0.7px;
}

.comment-container h6 {
  margin: 0;
  font-size: 0.95rem;
  color: #063974;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin-left: 6rem;
  background-color: white;
}

input[name=name] {
  grid-row: 1/2;
  grid-column: 1/2;
  border: none;
  border-bottom: 1px solid #50E3C2;
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0 0 1rem 1rem;
  letter-spacing: 1.3px;
  width: 88%;
}

input[type=email] {
  grid-row: 1/2;
  grid-column: 2/3;
  border: none;
  border-bottom: 1px solid #50E3C2;
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0 0 1rem 1rem;
  letter-spacing: 1.3px;
  width: 88%;
  justify-self: end;
  margin-right: 0.2rem;
}

.form textarea {
  grid-row: 2/3;
  grid-column: 1/3;
  resize: none;
  width: calc(99% - 1.45rem);
  border: 1px solid #50E3C2;
  height: 8rem;
  padding: 2rem 0 0 1.5rem;
}

.form button {
  background-color: #063974;
  border: 1px solid #063974;
  color: #FAFFFE;
  font-family: "Playfair Display SC", serif;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: color 0.2s, background-color 0.6s, border 1s;
  transition: color 0.2s, background-color 0.6s, border 1s;
  grid-row: 3/4;
  grid-column: 1/3;
  border: none;
  width: 100%;
  margin: 2rem 0 5rem 0;
}
.form button:hover {
  color: #063974;
  background-color: #FAFFFE;
  border: 1px solid #063974;
}
.form button:focus {
  color: #063974;
  background-color: #FAFFFE;
  border: 1px solid #063974;
}

.blog-footer p {
  padding-top: 3px;
  -ms-flex-item-align: center;
      align-self: center;
}

.blog-footer {
  height: 1.6rem;
  width: 100%;
  background-color: #2C2C2C;
  text-align: center;
  color: #FAFFFE;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row: 6/7;
  grid-column: 1/-1;
}

.contact-page-wrapper {
  display: grid;
  grid-template-rows: 500px 500px auto;
  grid-template-columns: 1fr 1fr;
  background-color: #FAFFFE;
}

.contact-header {
  background-image: url(../images/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/3;
}

.contact-header li {
  padding: 0.4rem 1.5rem 0.4rem 0.8rem;
}

.contact-header ul li:first-of-type a {
  color: #FAFFFE;
}
.contact-header ul li:first-of-type a:hover {
  color: #50E3C2;
}
.contact-header ul li:first-of-type a:focus {
  color: #50E3C2;
}

.contact-header ul li:nth-child(4) a {
  color: #50E3C2;
}

.contact-form-container {
  grid-row: 1/3;
  grid-column: 1/3;
  place-self: center start;
  width: 100%;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: auto auto;
}

.contact-form-container h2 {
  grid-column: 1;
  font-size: 3.2rem;
  color: white;
  letter-spacing: 8px;
  text-align: center;
  margin: 0 4rem 1rem 0;
}

.contact-form {
  grid-column: 1;
  padding: 4rem 2rem 0.5rem 2rem;
  -webkit-box-shadow: 24px 24px 0px -6px #50E3C2;
          box-shadow: 24px 24px 0px -6px #50E3C2;
  margin-left: 4rem;
}

.contact-form-container button {
  margin: 2rem 0;
}

.contact-form-footer {
  grid-column: 2;
  width: 70%;
  padding-left: 5rem;
  align-self: end;
  justify-self: center;
  margin-bottom: 1.75rem;
}

.contact-form-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.contact-form-footer a {
  text-decoration: none;
  color: #2C2C2C;
}

.contact-form-footer li {
  list-style-type: none;
}

.contact-form-footer p {
  line-height: 1rem;
  margin: 0.5rem 0;
  font-weight: 400;
  letter-spacing: 2px;
}

.contact-form-footer > a:first-of-type > p {
  color: #2C2C2C;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.contact-form-footer i {
  padding-right: 1rem;
  font-size: 1.15rem;
  cursor: pointer;
}

.contact-page-footer {
  height: 1.6rem;
  width: 100%;
  background-color: #2C2C2C;
  text-align: center;
  color: #FAFFFE;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: 1/-1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15rem;
  width: 11rem;
  position: relative;
  grid-row-start: 1;
  grid-column: 2/3;
  justify-self: end;
  align-self: flex-start;
  margin: 0;
}

.mobile-nav ul {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -ms-flex-item-align: start;
      align-self: start;
  height: 12rem;
  width: 8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.mobile-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 2.7rem;
  list-style-type: none;
  border-bottom: 1px solid #FAFFFE;
  width: 100%;
  background-color: #063974;
}

.mobile-nav ul li:last-child {
  border: none;
}

.mobile-nav a {
  text-decoration: none;
  cursor: pointer;
  color: #FAFFFE;
  display: block;
  width: 100%;
  height: 50%;
  padding-left: 1rem;
}
.mobile-nav a:hover {
  color: #50E3C2;
}
.mobile-nav a:focus {
  color: #50E3C2;
}

.mobile-nav li:first-child a {
  color: #50E3C2;
}

.mobile-nav input {
  position: absolute;
  width: 2.3rem;
  height: 2.3rem;
  top: 0.1rem;
  right: 0.7rem;
  opacity: 0;
  cursor: pointer;
}

.hamburger-menu {
  width: 2.3rem;
  height: 0.3rem;
  background-color: #FAFFFE;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  top: 0;
  right: 0.7rem;
  cursor: pointer;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.hamburger-menu::before {
  position: absolute;
  content: "";
  width: 2.3rem;
  height: 0.3rem;
  background-color: #FAFFFE;
  top: 0.5rem;
  cursor: pointer;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.hamburger-menu::after {
  position: absolute;
  content: "";
  width: 2.3rem;
  height: 0.3rem;
  background-color: #FAFFFE;
  top: -0.5rem;
}

.mobile-nav input:checked ~ ul {
  visibility: visible;
  opacity: 1;
}

.mobile-nav input:checked ~ .hamburger-menu::after {
  visibility: hidden;
}

.mobile-nav input:checked ~ .hamburger-menu::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.mobile-nav input:checked ~ .hamburger-menu {
  -webkit-transform: rotate(765deg);
          transform: rotate(765deg);
}

@media (max-width: 1200px) {
  .main-nav {
    margin-left: 0;
  }

  .header-img-container {
    margin-top: 30%;
  }

  .comment-text-container {
    margin-left: 0.5rem;
  }

  .form input {
    width: 85%;
  }

  .blog-aside {
    width: 71%;
  }
}
@media (max-width: 940px) {
  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-img-container img {
    display: none;
  }

  .header-text-container {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    margin: 10rem 0 0 0;
  }

  .visit-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  .visit-img-container {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-bottom: 4rem;
  }

  .gallery-wrapper li {
    width: 45%;
  }

  .gallery-wrapper ul li:nth-child(2) {
    display: none;
  }

  .middle-nav-wrapper {
    margin-top: 1rem;
  }

  .middle-nav-wrapper li {
    padding-bottom: 0.5rem;
  }

  .article-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .left-article-container {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .right-article-container {
    grid-row: 2/3;
    grid-column: 1/2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .left-article-container .article-text-container {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .right-article-container .article-img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .plan-ahead {
    margin-top: 2rem;
  }

  .aside-text-container {
    margin-top: 3rem;
    text-align: left;
  }

  .blog-page-wrapper {
    grid-template-rows: 240px 260px auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .comments-section-container,
.comments .form {
    width: 90%;
    padding: 0;
    margin: 2rem auto 0 auto;
  }

  .blog-aside {
    width: 100%;
    grid-row: 6/7;
    grid-column: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .blog-aside-img-container {
    display: none;
  }

  .blog-aside h4 {
    margin: 0;
  }

  .mission {
    width: 30%;
    text-align: center;
  }

  .blog-footer {
    grid-row: 7/8;
  }

  .contact-page-wrapper {
    grid-template-rows: 500px auto auto auto;
  }

  .contact-form-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-top: -4rem;
    grid-row-start: 2;
  }

  .contact-form {
    width: 85%;
    margin: 0 auto;
    padding: 4rem auto 0 auto;
  }

  .contact-form-container h2 {
    font-size: 2.7rem;
    margin-top: -4.45rem;
    text-align: left;
    text-indent: 3rem;
  }

  .contact-form-footer {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 3rem;
    justify-self: start;
    width: 50%;
  }
}
@media (max-width: 600px) {
  .welcome-text {
    letter-spacing: 4px;
  }

  .visit-img-container {
    padding-bottom: 3rem;
  }

  .gallery-wrapper ul li {
    padding: 0;
    width: 50%;
  }

  .middle-nav-wrapper a {
    width: 100%;
  }

  .article-text-container {
    width: 90%;
  }

  .aside-img-container {
    display: none;
  }

  .blog-article-wrapper > h2 {
    font-size: 3.5rem;
    margin-left: 0.5rem;
  }

  .blog-article-wrapper article {
    padding: 1.5rem 0.5rem 1rem 0.5rem;
  }

  .blog-aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mission {
    width: 80%;
    margin-bottom: 2rem;
  }

  .recent-posts {
    margin-bottom: 3rem;
  }

  .recent-posts h4 {
    margin-left: 0.4rem;
  }

  .comments-section-container {
    margin-bottom: 2rem;
  }

  .comment-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .comment-img-container {
    margin-left: 0.5rem;
  }

  .form {
    grid-template-rows: auto auto auto auto;
  }

  input[name=name] {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 95%;
    justify-self: center;
  }

  input[type=email] {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 95%;
    justify-self: center;
  }

  .form textarea {
    grid-row: 3/4;
  }

  .form button {
    grid-row: 4/5;
    margin: 1rem 0rem 5rem 0rem;
  }

  .contact-form {
    padding: 2.5rem 1rem 1rem 1rem;
    width: 90%;
    -webkit-box-shadow: 4px 18px 0px 4px #50E3C2;
            box-shadow: 4px 18px 0px 4px #50E3C2;
  }

  .contact-form-footer {
    padding-left: 2rem;
    width: 75%;
  }

  .contact-form-container h2 {
    letter-spacing: 3px;
    text-indent: 1rem;
    font-size: 2.3rem;
    width: 100%;
  }
}